<p><b>Hello <%= recipientName %>!</b></p>
<p>Thanks for signing up. Please <a href="<%= confirmLink %>">click here</a> to confirm your email.</p>
<p><i>This confirmation link is only available for 24 hours.</i></p>
<p>Enjoy!</p>
<div style="width: 100%; border-bottom: 1px solid #000"></div>
<p>If you don't know what this is or did not create this account, please ignore this email.</p>
