<p><b>Hello <%= recipientName %>!</b></p>
<p>There have been issued a password reset request for your account.</p>
<p>Please <a href="<%= resetLink %>">click here</a> to complete your password reset.</p>
<p><i>This reset link is only available for 24 hours.</i></p>
<p>Enjoy!</p>
<div style="width: 100%; border-bottom: 1px solid #000"></div>
<p>If you don't know what this is or did not request this reset, please ignore this email.</p>
