<p><b>Hello <%= recipientName %>!</b></p>
<p>Thank you for creating a MyWatchlist account!</p>
<p>More things coming soon! Enjoy!</p>
<div style="width: 100%; border-bottom: 1px solid #000"></div>
<p>If you don't know what this is or did not create this account, please ignore this email.</p>
